/* ==========================================
   Responsive Styles
========================================== */

/* Laptop */

@media screen and (max-width: 1440px) {
  .hero-secondary-image {
    width: 596px;
    height: 234px;
  }
}

@media screen and (max-width: 1200px) {
  .hero .header-bottom {
    gap: 5%;
    padding: 0 40px;
  }

  .hero .hero-title {
    font-size: 4.5rem;
  }

  .hero .hero-title:nth-child(2) {
    font-size: 4rem;
  }

  .hero .hero-title:nth-child(3) {
    font-size: 4.5rem;
  }

  .hero .hero-content p {
    max-width: 480px;
    font-size: 20px;
  }

  .hero .hero-image img {
    max-width: 450px;
  }

  .header section {
    margin: 0 auto;
  }

  /* Hero Oval */

  .hero-word {
    width: 0.65em;
  }

  .hero-oval {
    width: 100px;
    height: 38px;
  }
}

@media screen and (max-width: 1024px) {
  .header section {
    margin: 0 auto;
  }

  .collections {
    padding: 60px 30px;
  }

  .collections-products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .collection-image {
    grid-column: 1 / 3;
    grid-row: auto;
    height: 400px;
  }

  .product-image {
    height: 220px;
  }
}

/* ==========================================
   Tablet
========================================== */

@media (max-width: 768px) {
  /* Features */

  .features-track {
    animation-duration: 15s;
  }

  .features-list p {
    font-size: 18px;
    padding: 15px 24px;
  }

  .features-list img {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 425px) {
  header section {
    padding: 0;
  }

  .header-container {
    position: relative;
    justify-content: space-between;
    padding: 32px 20px;
  }

  /* Menu */

  .menu-icon {
    display: block;
    width: 24px;
  }

  /* Navigation */

  nav {
    display: none;
  }

  /* Logo */

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 6px;
  }

  .logo-icon {
    width: 32px;
  }

  .logo h1 {
    font-size: 20px;
  }

  /* Actions */

  .header-actions {
    gap: 16px;
  }

  .search-icon,
  .profile-icon {
    display: none;
  }

  .shopping-icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  .hero .header-bottom {
    padding: 0px 16px;
  }

  .hero .hero-title {
    font-size: 2.6rem;
  }

  .hero .hero-title:nth-child(2) {
    font-size: 2.4rem;
  }

  .hero .hero-title:nth-child(3) {
    font-size: 2.6rem;
  }

  .hero .hero-content p {
    font-size: 16px;
    line-height: 1.2;
  }

  .hero .hero-content {
    margin: 0;
  }

  .hero .asset-image {
    width: 87px;
    margin-top: 20px;
  }

  .hero .hero-image img {
    max-width: 300px;
    display: none;
  }

  .hero-secondary-image {
    display: block;
    max-width: 400px;
  }

  /* Hero Oval */

  .hero-word {
    width: 0.65em;
  }

  .hero-oval {
    width: 60px;
    height: 25px;
    border-width: 2px;
    margin-left: -27px;
  }

  .hero-ver {
    margin-left: 1.5rem;
  }

  /* Features */

  .features-track {
    animation-duration: 12s;
  }

  .features-list p {
    font-size: 14px;
    padding: 12px 16px;
  }

  .features-list img {
    width: 14px;
    height: 14px;
  }

  .collections {
    padding: 30px 12px;
  }

  .collections-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* Collection Image */

  .collection-image {
    grid-column: 1 / -1;
    grid-row: auto;
    height: 250px;
  }

  .collection-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Product */

  .product-card {
    padding: 6px;
  }

  .product-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .product-card h4 {
    margin-top: 6px;
    font-size: 11px;
    line-height: 1.3;
  }

  .product-price {
    margin-top: 4px;
    font-size: 10px;
  }

  .shopping-bag {
    width: 16px;
    height: 16px;
    right: 7px;
    bottom: 7px;
  }
}

@media screen and (max-width: 375px) {
  header section {
    padding: 0;
  }

  .header-container {
    position: relative;
    justify-content: space-between;
    padding: 32px 20px;
  }

  /* Menu */

  .menu-icon {
    display: block;
    width: 24px;
  }

  /* Navigation */

  nav {
    display: none;
  }

  /* Logo */

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 6px;
  }

  .logo-icon {
    width: 32px;
  }

  .logo h1 {
    font-size: 20px;
  }

  /* Actions */

  .header-actions {
    gap: 16px;
  }

  .search-icon,
  .profile-icon {
    display: none;
  }

  .shopping-icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  .hero .header-bottom {
    padding: 0px 16px;
  }

  .hero .hero-title {
    font-size: 2.6rem;
  }

  .hero .hero-title:nth-child(2) {
    font-size: 2.4rem;
  }

  .hero .hero-title:nth-child(3) {
    font-size: 2.6rem;
  }

  .hero .hero-content p {
    font-size: 16px;
    line-height: 1.2;
  }

  .hero .hero-content {
    margin: 0;
  }

  .hero .asset-image {
    width: 87px;
    margin-top: 20px;
  }

  .hero .hero-image img {
    max-width: 300px;
    display: none;
  }

  .hero-secondary-image {
    display: block;
    max-width: 350px;
  }

  /* Hero Oval */

  .hero-word {
    width: 0.65em;
  }

  .hero-oval {
    width: 55px;
    height: 23px;
    border-width: 2px;
  }

  .collections-header h4 {
    font-size: 22px;
  }

  .collections-more {
    gap: 6px;
  }

  .collections-more p {
    font-size: 14px;
  }

  .collections-more img {
    width: 16px;
    height: 16px;
  }

  .collections {
    padding: 25px 10px;
  }

  .collections-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  /* Collection Image */

  .collection-image {
    grid-column: 1 / -1;
    grid-row: auto;
    height: 220px;
  }

  .collection-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Product Card */
  .product-card {
    padding: 5px;
  }

  .product-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  .product-card h4 {
    margin-top: 5px;
    font-size: 10px;
    line-height: 1.3;
  }

  .product-price {
    margin-top: 3px;
    font-size: 9px;
  }

  .shopping-bag {
    width: 14px;
    height: 14px;
    right: 6px;
    bottom: 6px;
  }
}
